#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository
#----------------------------------------------------------------------------

# mac finder artifact
.DS_Store

# Others best ignored for heroku
/db/*.sqlite3
log/
test/
tmp/